<div class="bg-gradient-to-b from-white via-[#d1e5fe] to-white dark:text-white dark:from-black dark:via-[#0d1214] dark:to-gray-900 w-screen h-screen relative pt-2 overflow-auto transition-colors duration-200">
  <!-- left vertical line -->
  <div class="absolute bg-gradient-to-b from-[#707070]/20  dark:from-[#d4d4d4]/20 to-[#979797]/5 
              left-[10px] sm:left-[100px] top-0 h-full w-[1px]"></div>
              
  <!-- right vertical line -->
  <div class="absolute bg-gradient-to-b from-[#707070]/20  dark:from-[#d4d4d4]/20 to-[#979797]/5 
              right-[10px] sm:right-[100px] top-0 h-full w-[1px]"></div>

  <!-- Header -->
  <app-header></app-header>

  <!-- hero component -->
   <app-hero></app-hero>

   <app-cta></app-cta>
</div>
