<div class="w-full flex justify-center sm:mt-20 relative px-10">
  <!-- Horizontal line at the top of the image -->
  <div class="absolute top-0 left-0 w-full h-[1px] z-10
              bg-gradient-to-r from-[#d4d4d4]/20 via-[#979797]/5 to-[#d4d4d4]/20"></div>
  
  <div>
    <img [src]="imagePath" class="w-full sm:max-w-252 rounded-lg dark:opacity-90 mt-5" alt="pay_chick_image"/>
  </div>
  
  <!-- Smooth bottom fade -->
  <div class="absolute bottom-0 w-full h-24 rounded-b-lg bg-gradient-to-t from-[#e4f1ff] dark:from-[#131519] to-transparent pointer-events-none"></div>
</div>
